<div class="container">
  <h3>Sing Up</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8">
    <form (ngSubmit)="onSignUp(f)" #f="ngForm">
      <fieldset class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" id="email" ngModel>
      </fieldset>
      <fieldset class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" ngModel>
      </fieldset>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    </div>
  </div>
</div>
